@import "../../../styles/variables";

.button {
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary;
  min-width: 22.75rem;
  display: block;
  background-color: $secondary;
  border-radius: 0.166em;
  padding: 1.125em 0.833em;
  transition: all 0.3s;

  &:hover {
    background-color: $secondary-dark;
  }

  @media(max-width: 670px) {
    min-width: 19.65rem;
    padding: 0.925em 0.233em;
  }
}

.transparent {
  composes: button;
  color: $secondary;
  background-color: transparent;
  outline: 0.125rem solid $secondary;

  &:hover {
    color: $primary;
    background-color: $secondary;
    border: none;
  }
}

.small {
  composes: button;
  font-size: 1.25rem;
  font-weight: 400;
  min-width: 12.5rem;
  padding: 0.5em 1em;
}
