@import "../../styles/variables";

.content {
  display: flex;
  justify-content: space-between;

  @media (max-width: 550px) {
    flex-direction: column;
  }

  &_left {
    flex: 50%;
    margin-right: 6.25rem;

    @media (max-width: 670px) {
      margin-right: 4.05rem;
    }

    @media (max-width: 550px) {
      margin-right: 0;
      order: 1;
    }
  }
}

.tabs_wrapper {
  text-align: right;
}

.todoList_wrapper {
  margin-top: 2.812rem;

  :last-child {
    border: none;
  }
}

.image_wrapper {
  margin-top: 5.312rem;

  @media (max-width: 550px) {
    margin-top: 0;
  }
}

.form_wrapper {
  display: block;
  flex: 35% 1;
  margin-top: 5.312rem;

  @media (max-width: 768px) {
    margin: 0 0 5.325rem 0;
  }
}

.information_about_lack_content_wrapper {
  margin-top: 70px;
}
