@import "../../styles/variables";

.form {
  :not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.input {
  font-size: 1.125rem;
  color: $secondary;
  width: 100%;
  border-radius: 0.222em;
  border: 0.055em solid $secondary;
  outline: none;
  padding: 0.722em 1em;

  &::placeholder {
    font-style: italic;
    color: $mute;

    @media (max-width: 550px) {
      font-size: 1.325rem;
    }
  }

  @media (max-width: 550px) {
    font-size: 1.325rem;
    display: block;
    width: 80%;
    padding: 1em 1.3em;
    margin: 0 auto 1.875rem;
  }
}

.button_wrapper {
  float: right;

  @media (max-width: 550px) {
    float: none;

    button {
      margin: 0 auto;
    }
  }
}
