.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown {
  font-size: 8.75rem;
  font-weight: 700;
  margin-bottom: 1.071em;

  @media (max-width: 670px) {
    font-size: 8.15rem;
    margin-bottom: 0.771em;
  }

  @media (max-width: 550px) {
    margin-bottom: 0.6em;
  }
}

.buttons {
  display: flex;
  width: 230px;
  justify-content: space-around;

  svg {
    height: 3.4375rem;
  }
}
