.pomodoro {
  margin-top: 6.25rem;

  @media (max-width: 670px) {
    margin-top: 5rem;
  }

  @media (max-width: 550px) {
    margin-top: 3rem;
  }

  @media (max-height: 800px) {
    margin-top: 4.05rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons_wrapper {
  display: flex;
  flex-direction: column;
  margin: 10.625rem 3.125rem 0 0;

  :not(:last-child) {
    margin-bottom: 3.125rem;
  }

  @media (max-width: 670px) {
    margin: 9.525rem 3rem 0 0;
  }

  @media (max-width: 550px) {
    margin: 70px 0 50px 0;
  }

  @media (max-height: 800px) {
    margin-top: 7.525rem;
  }
}

.decor {
  &_wrapper {
    width: 30%;
  }

  &_image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.timer {
  &_wrapper {
    margin-top: 6.25rem;
    margin-right: 5.625rem;

    @media (max-width: 670px) {
      margin-right: 4.625rem;
    }

    @media (max-width: 550px) {
      margin: 55px 0 65px;
    }
  }
}

.pictures_pinned_to_bottom_to_screen {
  width: auto !important;
  height: 40vh !important;
  position: absolute;
  bottom: 0;
  right: 0;

  @media (max-width: 550px) and (max-height: 800px) {
    display: none;
  }
}
