@import "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound_notification {
  display: flex;
  align-items: center;
  cursor: pointer;

  &_icon {
    margin-right: 0.625rem;
  }

  &:hover {
    .switch {
      border-bottom: 0.1em solid #ccc;
    }
  }
}

.switch {
  font-weight: 400;
  font-size: 1.25rem;
  color: $secondary;
  display: block;
  border-bottom: 0.1em solid transparent;
  padding-top: 0.4em;
  transition: all 0.3s;
}

.main {
  display: flex;
  justify-content: center;
}

.navigateBar {
  display: flex;
  margin-left: auto;

  &_icon {
    display: flex;
    justify-content: center;
    padding-top: 0.625rem;
    transition: all 0.3s;

    svg {
      width: 60%;
    }

    &:hover {
      background-color: $primary-dark;
    }
  }

  :not(:last-child) {
    margin-right: 0.9375rem;
  }
}

.wrapper {
  width: 100%;
}

.active {
  background-color: $primary-dark;
}
