@import "../../../styles/variables";

.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inscription {
  font-size: 2rem;
  font-weight: 700;
  color: $secondary;
  text-align: center;
  max-width: 28.75rem;
  margin-bottom: 3.4375rem;

}

.image {
  width: 15rem;

  @media(max-width: 670px) {
    width: 14rem;
  }

  @media(max-height: 760px) {
    height: 19vh;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
