@import "../../../../styles/variables";

.wrapper {
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: inline-block;
  min-width: 16.25rem;
  white-space: pre;
}

.tabs_container {
  min-width: 18.125rem;
  
  @media (max-width: 550px) {
    max-width: 23.225rem;
    margin: 0 auto;
  }
}

.content {
  &_wrapper {
    display: none;

    &_active {
      display: block;
    }
  }
}
